.formacion{
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 1rem auto 2rem auto;

    /*Mobile*/
    @media only screen and (max-width:375px) {
        margin: 2rem auto;
    }
    
    a{
        text-decoration: none;
        color: black;
    }

    .contenedor-cancha{
    
        /*Mobile*/
        @media only screen and (max-width:525px) {
            display: flex;
            justify-content: center;
        }

        .cancha-desktop{
            width: 58rem;
            height: 36rem;

            /*Desktop 1024*/
            @media only screen and (min-width:801px) and (max-width: 1024px){
                width: 46.4rem;
                height: 36rem;
            }

            /*Tablet & Mmobile*/
            @media only screen and (max-width:800px) {
                display: none;
            }
        }

        .cancha-mobile{
            
            /*Desktop*/
            @media only screen and (min-width:801px){
                display: none;
            }

            /*Mobile*/
            @media only screen and (min-width:376px) and (max-width:525px) {
                width: 360px;
                height: 553px;
            }

            /*Mobile2*/
            @media only screen and (max-width:375px) {
                width: 310px;
                height: 490px;
            }
        }


    }
    
    .contenedor-posicion{
        display:flex;
        flex-direction: column;
        align-items: center;
        
        z-index: 3;
        height: fit-content;
        width: 142px;

        /*Mobile*/
        @media only screen and (max-width: 375px){
            width: 10px;
        }

        .contenedor-hover{
            padding-bottom: 50px;
            opacity: 0;
            z-index: 2;

           
            /*Mobile*/
            @media only screen and (min-width: 801px){
                &:hover{
                    opacity: 1;
                }
            }

            /*Mobile2*/
            @media only screen and (max-width: 375px){
               width: 0;
            }

            p{
                width: 150px;
                text-align: center;
                margin: auto;
                position: relative;
                top: 5px;
                font-size: 0.7rem;
                color: #4D4B49;
                padding: 0 5px;

                background: radial-gradient(50% 50% at 50% 50%, rgba(214, 190, 136, 0.89) 0%, rgba(177, 174, 174, 0.832984) 0.01%, rgba(199, 165, 88, 0.89) 100%);
                box-shadow: 5px 8px 18px rgba(0, 0, 0, 0.5);
                border-radius: 25px;

                /*Mobile2*/
                @media only screen and (max-width: 375px){
                    width: 0;
                }

            }
            
            img{
                display: block;
                margin: 0.5rem auto;
            }

            .camiseta{
                width: 45px;

                /*Mobile2*/
                @media only screen and (max-width: 375px){
                    width: 0;
                }
            }

            .cursor{
                width: 15px;
            }
        }

        .boton-posicion{
            height:30px;
            width: 65px;
            border-radius: 50%;
            border:grey;
        
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(202, 199, 199, 0.7) 100%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            position:relative;
            bottom:60px;

            /*Mobile*/
            @media only screen and (max-width: 525px)  {
                height: 24px;
                width: 52px;
                font-size:0.75rem;
            }
           
        }
    }

    .contenedor-arq{
        position: absolute;
        left:400px;
        top: 445px;

        /*Desktop 1024*/
        @media only screen and (min-width:801px) and (max-width: 1024px){
            left:305px;
            top: 445px;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 800px)  {
            left:175px;
            top: 600px;
        }

        /*Mobile*/
        @media only screen and (min-width:376px) and (max-width: 525px)  {
            left:110px;
            top: 390px;
        }

        /*Mobile2*/
        @media only screen and (max-width: 375px)  {
            left:150px;
            top: 390px;
        }
    }

    .contenedor-li{
        position: absolute;
        left:100px;
        top: 260px;

        /*Desktop 1024*/
        @media only screen and (min-width:801px) and (max-width: 1024px){
            left:60px;
            top: 250px;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 800px)  {
            left:5px;
            top: 420px;
        }

        /*Mobile*/
        @media only screen and (min-width:376px) and (max-width: 525px)  {
            left:-15px;
            top: 250px;
        }

        /*Mobile2*/
        @media only screen and (max-width: 375px)  {
            left:35px;
            top: 260px;
        }
    }

    .contenedor-dfc1{
        position: absolute;
        left:290px;
        top: 310px;

        /*Desktop 1024*/
        @media only screen and (min-width:801px) and (max-width: 1024px){
            left:195px;
            top: 300px;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 800px)  {
            left:120px;
            top: 490px;
        }

        /*Mobile*/
        @media only screen and (min-width:376px) and (max-width: 525px)  {
            left:70px;
            top: 310px;
        }

        /*Mobile2*/
        @media only screen and (max-width: 375px)  {
            left:110px;
            top: 300px;
        }
    }

    .contenedor-dfc2{
        position: absolute;
        left:510px;
        top: 310px;

        /*Desktop 1024*/
        @media only screen and (min-width:801px) and (max-width: 1024px){
            left:410px;
            top: 300px;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 800px)  {
            left:230px;
            top: 490px;
        }

        /*Mobile*/
        @media only screen and (min-width:376px) and (max-width: 525px)  {
            left:150px;
            top: 310px;
        }

        /*Mobile2*/
        @media only screen and (max-width: 375px)  {
            left:190px;
            top: 300px;
        }
    }

    .contenedor-ld{
        position: absolute;
        left:700px;
        top: 260px;

        /*Desktop 1024*/
        @media only screen and (min-width:801px) and (max-width: 1024px){
            left:565px;
            top: 250px;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 800px)  {
            left:340px;
            top: 420px;
        }

        /*Mobile*/
        @media only screen and (min-width:376px) and (max-width: 525px)  {
            left:230px;
            top: 250px;
        }

        /*Mobile2*/
        @media only screen and (max-width: 375px)  {
            left:270px;
            top: 260px;
        }
    }

    .contenedor-mcd{
        position: absolute;
        left:400px;
        top: 205px;

        /*Desktop 1024*/
        @media only screen and (min-width:801px) and (max-width: 1024px){
            left:305px;
            top: 190px;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 800px)  {
            left:175px;
            top: 330px;
        }

        /*Mobile*/
        @media only screen and (min-width:376px) and (max-width: 525px)  {
            left:110px;
            top: 200px;
        }

        /*Mobile2*/
        @media only screen and (max-width: 375px)  {
            left:150px;
            top: 200px;
        }
    }

    .contenedor-mco{
        position: absolute;
        left:280px;
        top: 80px;

        /*Desktop 1024*/
        @media only screen and (min-width:801px) and (max-width: 1024px){
            left:190px;
            top: 95px;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 800px)  {
            left:80px;
            top: 180px;
        }

        /*Mobile*/
        @media only screen and (min-width:376px) and (max-width: 525px)  {
            left:30px;
            top: 110px;
        }

        /*Mobile2*/
        @media only screen and (max-width: 375px)  {
            left:80px;
            top: 110px;
        }
    }

    .contenedor-mc{
        position: absolute;
        left:540px;
        top: 110px;

        /*Desktop 1024*/
        @media only screen and (min-width:801px) and (max-width: 1024px){
            left:425px;
            top: 115px;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 800px)  {
            left:300px;
            top: 220px;
        }

        /*Mobile*/
        @media only screen and (min-width:376px) and (max-width: 525px)  {
            left:200px;
            top: 140px;
        }

        /*Mobile2*/
        @media only screen and (max-width: 375px)  {
            left:235px;
            top: 140px;
        }  
    }

    .contenedor-ei{
        position: absolute;
        left:150px;
        top:5px;

        /*Desktop 1024*/
        @media only screen and (min-width:801px) and (max-width: 1024px){
            left:105px;
            top: -25px;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 800px)  {
            left:10px;
            top:50px;
        }

        /*Mobile*/
        @media only screen and (min-width:376px) and (max-width: 525px)  {
            left: -5px;
            top:10px;
        }

        /*Mobile2*/
        @media only screen and (max-width: 375px)  {
            left: 45px;
            top:25px;
        }  
    }

    .contenedor-dc{
        position: absolute;
        left:400px;
        top:-30px;

        /*Desktop 1024*/
        @media only screen and (min-width:801px) and (max-width: 1024px){
            left:305px;
            top: -35px;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 800px)  {
            left:175px;
            top:-20px;
        }

        /*Mobile*/
        @media only screen and (min-width:376px) and (max-width: 525px)  {
            left:110px;
            top:-40px;
        }   

        /*Mobile2*/
        @media only screen and (max-width: 375px)  {
            left:150px;
            top:0px;
        }  
    }

    .contenedor-ed{
        position: absolute;
        left:650px;
        top:5px;

        /*Desktop 1024*/
        @media only screen and (min-width:801px) and (max-width: 1024px){
            left:500px;
            top: -25px;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 800px)  {
            left:345px;
            top:50px;
        }

        /*Mobile*/
        @media only screen and (min-width:376px) and (max-width: 525px)  {
            left:220px;
            top:10px;
        }

        /*Mobile2*/
        @media only screen and (max-width: 375px)  {
            left:260px;
            top:25px;
        }    
    }
    
}