.contenedor-botines-jugadores{
    background-image: url(../Multimedia/plp-bg.png);
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-attachment: fixed;
        -webkit-background-attachment: fixed;
        -moz-background-attachment: fixed;
        -o-background-attachment: fixed;
    min-height: 100vh;

    /*Mobile & Tablet*/
    @media only screen and (max-width: 768px)  {
        min-height: 100vh;
    }

    .container-input{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        right: 0;
        margin-top: 5rem;

        /*Mobile*/
        @media only screen and (max-width: 768px)  {
            margin-top: 6rem;
        }

        .input-buscar{
            width: 50%;
            font-size: 1.5rem;

            /*Tablet*/
            @media only screen and (min-width:426px) and (max-width: 768px)  {
                width: 70%;
                font-size:1rem; 
            }

            /*Mobile*/
            @media only screen and (max-width: 425px)  {
                width: 100%;
                font-size:1rem; 
            }
        }
    }

    .contenedor-cards{
        padding-top: 10rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    
        /*Tablet*/
        @media only screen and (min-width:426px) and (max-width: 768px)  {
            padding-top: 1rem;
        }

        /*Mobile*/
        @media only screen and (max-width: 425px)  {
            padding-top: 1rem;
        }

        .error-msg{
            color: white;
            font-size: 1.5em;
        }
    }
    
}