.contenedor-botines-posiciones{
    background-image: url(../Multimedia/plp-bg.png);

    h3{
        text-align: center;
    }

    .contenedor-cards{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
}