.fondo{
    background-image: url(../Multimedia/plp-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.contenedor-botines-posiciones{
    position: absolute;
    min-height: 100vh;
    padding: 0;

    .contenedor-titulo-plp{
        width: 100%;
        z-index: 10;
        height: 7rem;

        @media only screen and (max-width:525px) {
            height:5rem;
        }

        .banner{
            position: fixed;
            z-index:10 ;
            width: 100%;
            height:3.5rem ;
            background: #C2CD4D;

            @media only screen and (max-width:525px) {
                height:2.5rem;
            }
        }  

        h3{
            position: fixed;
            z-index:10 ;
            top: 3.5rem;
            width: 100%;
            height: 3.5rem;
            text-align: center;
            line-height: 3rem;
            color: #FFFF;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 1.5rem;

            background: rgba(57, 55, 55, 1);
            border-width: 1px 0px;
            border-style: solid;
            border-color: #D0B160;

            /*Tablet*/
            @media only screen and (min-width:526px) and (max-width:800px) {
                font-size:1rem ;
            }

            /*Mobile*/
            @media only screen and (max-width:525px) {
                top: 2.5rem;
                height: 2.5rem;
                font-size:0.75rem ;
            }
        }

        .logo{
            position: fixed;
            $left:calc(100vw - 7.5rem);
            left: $left;
            z-index: 10;
            width: 100px;

            @media only screen and (min-width:526px) and (max-width:800px) {
                width: 75px;
                top: 15px;
                $left:calc(100vw - 5rem);
                left: $left;
            }

            @media only screen and (max-width:525px) {
                width: 50px;
                top: 12.5px;
                $left:calc(100vw - 3.5rem);
                left: $left;
            }
        }
    }

    .drawer{
        position: fixed;
        width: 100%;
        z-index: 10;

        @media only screen and (min-width:801px) {
            display: none;
        }


        h4{
            font-style: italic;
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 3rem;
            text-align: center;
            text-transform: uppercase;
            color: #F1F1F1;

            background: rgba(0, 0, 0, 1);
            border-bottom: 1px solid #D0B160;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            border-radius: 0px 8px 8px 0px;

            width: 100%;
            height: 2.5rem;
            margin-bottom: 0;
        }

        .contenedor-selectores{
            background: linear-gradient(180deg, #D9D9D9 0%, rgba(129, 123, 123, 0.49) 100%);
            border-top: 1px solid #FFCA43;
            border-bottom: 1px solid #FFCA43;
            height: 3.375rem;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            select{
                height: 2rem;
                width: 10rem;
                text-align: center;
                background: linear-gradient(180deg, #B6A36D 0%, #9B947B 100%);
                border: 1px solid #FFCA43;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 2px;

                font-weight: 600;
                font-size: 0.875rem;
                line-height: 1rem;
                text-align: center;
                text-transform: uppercase;
                color: #FFFCFC;

                &:focus{
                    outline: gold;
                }
            }            

        }
    }
    
    .controlador{
        float: right;
        display: flex;
        flex-direction: column;
        width: 22.75rem;
        min-height: 100vh;
        position: sticky;
        top:154px;
        left: 0.6rem;
        margin-left: 1.5rem;

        background: linear-gradient(180deg, #D9D9D9 0%, rgba(129, 123, 123, 0.49) 100%);
        border: 1px solid #FFCA43;

        @media only screen and (max-width:800px) {
            display: none;
        }

        h4{
            font-style: italic;
            font-weight: 600;
            font-size: 1.75rem;
            line-height: 2.625rem;
            text-align: center;
            text-transform: uppercase;
            color: #F1F1F1;

            position: relative;
            bottom: 43px;

            background: rgba(0, 0, 0, 0.25);
            border-bottom: 1px solid #D0B160;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            border-radius: 0px 8px 8px 0px;
        }

        .filtro{
            background: linear-gradient(180deg, #B6A36D 0%, #9B947B 100%);
            border: 1px solid #FFCA43;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 2px;

            width: 18.5rem;
            height: 2.5rem;

            margin: 0 auto 0.5rem auto;

            span{
                margin-left: 1rem;
                font-weight: 600;
                font-size: 1rem;
                line-height: 2rem;
                color: #FFFCFC;
                text-shadow: 2px 2px 10px #D0B160;
                text-transform: uppercase;
            }

            img{
                position: relative;
                left: 160px;
                top: 5px;
                width: 1.25rem;
            }

            img.open{
                transform: rotate(180deg);
            }

            .flecha{
                left: 170px;
            }
        }
       
        .contenedor-estilos{

            display: flex;
            justify-content: space-around;
            background: linear-gradient(180deg, #FDFDFD 0%, rgba(245, 245, 243, 0.59) 100%);
            border-radius: 12px;
            margin: 1rem 1.5rem;
            padding-left: 1rem;

            .contenedor-botones{
                display: flex;
                flex-direction: column;
                padding: 1rem 0;
                

                .botones-estilo{
                    display: flex;
                    align-items: center;
                    margin: 0.5rem;

                    input{
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 50%;
                        border: 1px solid;

                        &:focus{
                            background: linear-gradient(180deg, #B6A36D 0%, #9B947B 100%);
                        }
                    }

                    label{
                        margin-left:0.5rem;
                        font-size: 0.875rem;
                        font-weight: 500;
                        text-align: center;
                    }
                }

               

            }

            .reset{
                padding: 5px 10px;
                margin-bottom: 1rem;
                border-radius : 25px 25px 25px 25px;
                border: transparent;
                background: linear-gradient(180deg, #FFFFFF 0%, rgba(202, 199, 199, 0.7) 100%);
        
                font-weight: 500;
                font-size: 0.6785rem;
        
                text-align: center;
                color: #000000;
            }
            
        }

        .contenedor-selector-paises{   
            text-align: center;

            select{
                height: 150px;
                width:80%;
                text-align: center;
                border: 1px solid gold;

                &:focus{
                    outline: gold;
                }
            }
        }
        
    }

    .contenedor-cards{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10rem 1rem 0 1rem;

        /*Tablet & Mobile*/
        @media only screen and (max-width:800px) {
            padding: 6.5rem 2rem 0 2rem;
        }

        .error-msg{
            color: white;
            font-size: 1.5rem;  
        }
    }
    
}