.contenedor-estilos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-estilos .jugador {
  position: relative;
  bottom: 3rem;
  display: none;
}

@media only screen and (max-width: 1024px) {
  .contenedor-estilos .jugador {
    display: none;
  }
}

.contenedor-estilos .contenedor-cards-estilos {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  /*Tablet & Mobile*/
}

@media only screen and (max-width: 768px) {
  .contenedor-estilos .contenedor-cards-estilos {
    margin-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contenedor-estilos .contenedor-cards-estilos a {
  text-decoration: none;
  color: black;
}

.contenedor-estilos .contenedor-cards-estilos .columna {
  /*Tablet & Mobile*/
}

@media only screen and (max-width: 768px) {
  .contenedor-estilos .contenedor-cards-estilos .columna {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contenedor-estilos .contenedor-cards-estilos .card-estilos {
  width: 197px;
  height: 210px;
  border: 1px solid;
  margin: 2rem 1rem;
  background: rgba(70, 59, 59, 0.8);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*Tablet & Mobile*/
}

@media only screen and (max-width: 768px) {
  .contenedor-estilos .contenedor-cards-estilos .card-estilos {
    margin: 0.5rem 0.75rem;
    width: 137.9px;
    height: 147px;
  }
}

.contenedor-estilos .contenedor-cards-estilos .card-estilos:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(79, 23, 23, 0.4524)), to(rgba(12, 11, 11, 0.3306)));
  background: linear-gradient(180deg, rgba(79, 23, 23, 0.4524) 0%, rgba(12, 11, 11, 0.3306) 100%);
  border: 8px solid #D0B160;
  border-radius: 12px;
}

.contenedor-estilos .contenedor-cards-estilos .card-estilos img {
  height: 125px;
  /*Tablet & Mobile*/
}

@media only screen and (max-width: 768px) {
  .contenedor-estilos .contenedor-cards-estilos .card-estilos img {
    height: 87.5px;
  }
}

.contenedor-estilos .contenedor-cards-estilos .card-estilos p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: center;
  color: #FFFFFF;
  /*Tablet & Mobile*/
}

@media only screen and (max-width: 768px) {
  .contenedor-estilos .contenedor-cards-estilos .card-estilos p {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

.contenedor-estilos .fondo-blur {
  width: 95%;
  height: 42rem;
  position: relative;
  bottom: 37rem;
  margin: 0 auto;
  background: rgba(115, 113, 113, 0.5);
  opacity: 0.6;
}
/*# sourceMappingURL=Estilos.css.map */