
.cover-container{
    background-image: url(../../Multimedia/cover-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 822px;

   

    @media only screen and (max-width:768px) {
        background-image: url(../../Multimedia/cover-bg-mobile.png);
        min-height: 100vh;
    }

    
}
   
    
