.league-container{

    margin-top: 3rem;

    /*Mobile*/
    @media only screen and (max-width: 800px)  {
        margin-top: 1rem;
    }

    .league-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 5rem;

        /*Mobile*/
        @media only screen and (max-width: 800px)  {
            margin: 0rem;
        }

        button{
            font-size: 1rem;
            flex-basis: 15%;
            height: 60px;
            margin: 5px;    
            padding: 1px 3px 0px 3px;

            border-radius: 28px;
            border: 4px solid #71AFC9;
            opacity: 0,5;
            background: #D9D9D9;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            
            &:hover{
                opacity: 1;
                background: #FFF;
            }
            
            &:focus{
                opacity: 1;
                background: #FFF;
            }
            
            /*Mobile*/
            @media only screen and (max-width: 800px)  {
                font-size: 14px;
                flex-basis: 45%;
                width: 150px;
                height: 30px;
                margin: 4px;    
                padding: 1px 3px 0px 3px;
               
            }
        }
        
    }

    .clubs-wrapper{
        margin: 3rem 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        /*Mobile*/
        @media only screen and (max-width: 800px)  {
            margin: 1rem 0rem;
        }
    
        button{
            font-size: 1rem;
            border-radius: 30px;
            border: none;
            flex-basis: 23%;
            height: 50px; 
            margin: 5px; 
            padding-top: 3px;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(202, 199, 199, 0.7) 100%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
            &:hover{
                color: white;
                background: #D0B160;
                font-size: 1.1rem;
            }
    
            /*Mobile*/
            @media only screen and (max-width: 800px)  {
                font-size: 12px;
                line-height: 12px;
                flex-basis: 45%;
                width: 150px;
                height: 30px;
                margin: 4px;    
                padding: 1px 3px 0px 3px;

                &:hover{
                    color: white;
                    background-color: #D0B160;
                    font-size: 12px;
                }
            }
        }
    }   
}