
.card-botines{
    width: 18rem;
    height: 27rem;
    background: linear-gradient(180deg, #EEEDF0 0%, rgba(238, 237, 242, 0.95) 100%);
    border: 1px solid #004493;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    transform: skew(-5deg, 0deg);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin:1rem 0;

    /*Tablet*/
    @media only screen and (min-width:426px) and (max-width: 800px)  {
        width: 13.5rem;
        height: 20.25rem;
    }

    /*Mobile*/
    @media only screen and (max-width: 425px)  {
        width: 12.015rem;
        height: 18.225rem;
    }

    .botines-img{
        margin-top: 2rem;
        margin-left: 2.5rem;
        width: 70%;
        transform: skew(5deg, 0deg);

        /*Mobile*/
        @media only screen and (max-width: 425px)  {
            margin-top: 0.5rem;
            margin-left: 1.25rem;
    }
    }

    .jugador-box{
        position: relative;
        top:2rem;
        left: 1rem;
        margin-bottom: 1rem;
        transform: skew(5deg, 0deg);

        /*Tablet*/
        @media only screen and (min-width:426px) and (max-width: 800px)  {
            margin-bottom: 0.5rem;
        }

        /*Mobile*/
        @media only screen and (max-width: 425px)  {
            margin-bottom: 0.25rem;
            left: 0.5rem;
            top: 0.5rem;
        }

        .nombre-jugador{
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 2rem;
            text-align: center;
            color: #53514C;

            /*Tablet*/
            @media only screen and (min-width:426px) and (max-width: 800px)  {
                font-size: 0.875rem;
            }

            /*Mobile*/
            @media only screen and (max-width: 425px)  {
                font-size: 0.75rem;
            }
        }

        h5{
            font-size: 0.875rem;
            font-weight: 400;
            color: #4D4B49;
            margin-bottom: 0;

            /*Mobile*/
            @media only screen and (max-width: 425px)  {
                font-size: 0.75rem;

            }
        }
    }


    .botin-box{
        position: relative;
        top:2rem;
        background: #D0CFD0;
        width: 100%;
        height: 155px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        /*Tablet*/
        @media only screen and (min-width:426px) and (max-width: 800px)  {
            top: 0.6rem;
            height: 103px;
        }

        /*Mobile*/
        @media only screen and (max-width: 425px)  {
            top: 0.6rem;
            height: 112px;
        }

        .nombre-botin{
            font-size: 1.1rem;
            font-weight: bold;
            transform: skew(5deg, 0deg);
            padding-top: 1rem;
            margin-left: 0.5rem;

            /*Tablet*/
            @media only screen and (min-width:426px) and (max-width: 800px)  {
                font-size: 0.875rem;
            }

            /*Mobile*/
            @media only screen and (max-width: 425px)  {
                font-size: 0.875rem;
                height: 49px;
            }
        }

        .skills{
            display: flex;
            justify-content: space-evenly;
            font-family: 'Stick No Bills', sans-serif;
            font-size: 1rem;
            transform: skew(5deg, 0deg);
            font-weight: 500;
            line-height: 24px;
            color: #BE9324; 

            /*Tablet*/
            @media only screen and (min-width:426px) and (max-width: 800px)  {
                font-size: 0.8125rem;
            }

            /*Mobile*/
            @media only screen and (max-width: 425px)  {
                font-size: 0.75rem;
            }
        }

        button{
            background: #D0B160;
            border-radius: 21px;
            margin: 0 auto;
            font-weight: 600;
            font-size: 1rem;
            text-align: center;
            color: #FFFBFB;
            padding: 0.5rem 2rem;
            border: transparent;
            position: relative;

            /*Tablet*/
            @media only screen and (min-width:426px) and (max-width: 800px)  {
                font-size: 0.875rem;
                padding: 0.25rem 1rem ;
                bottom: 10px;
            }

            /*Mobile*/
            @media only screen and (max-width: 425px)  {
                font-size: 0.75rem;
                padding: 0.125rem 0.5rem;
                bottom: 10px;
            }
        }

        
    }
}