
.card-seleccion{
    width: 15rem ;
    height:22rem;

    background: linear-gradient(180deg, #F1F1F1 0%, rgba(164, 160, 160, 0.5) 100%);
    border: 1px solid #D0B160;
    border-radius: 28px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;

    /*Desktop 1024*/
    @media only screen and (min-width:769px) and (max-width: 1024px){
        width: 11.25rem;
        height: 16.5rem;
    }

    /*Tablet & Mobile*/
    @media only screen and (max-width: 768px)  {
        width: 7.5rem;
        height: 10rem;
        margin: 0.5rem 0.5rem;
    }

    &:hover{
        background: linear-gradient(180deg, rgba(241, 241, 241, 0.4) 0%, rgba(255, 202, 67, 0.4) 100%);
        border: 8px solid #D0B160;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 28px;
    }

    .titulo-seleccion{
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.75rem;
        color: #413d3d;
        text-align: center;
        
        /*Tablet & Mobile*/
        @media only screen and (max-width: 768px)  {
            font-size: 1rem;
            line-height: 1rem;
        }
        
    }

    img{
        width:12.125rem;
        height:12.125rem;

        /*Desktop 1024*/
        @media only screen and (min-width:769px) and (max-width: 1024px){
            width: 9.09375rem;
            height: 9.09375rem;
        }

        /*Tablet & Mobile*/
        @media only screen and (max-width: 768px)  {
            width: 6.0625rem;
            height: 6.0625rem;
        }

        &:hover,img{
            transform: scale(1.15);
        }

    }

}
