.home{
    padding: 0;

    header{
        background-image: url(../../Multimedia/header-bg-desktop.webp);
        background-repeat: no-repeat;
        background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        background-position: center;
            -webkit-background-position: center;
            -moz-background-position: center;
            -o-background-position: center;
        min-height: 100vh;  
        
        /*Tablet & Mobile*/
        @media only screen and (max-width:800px) {
            background-image: url(../../Multimedia/header-bg-mobile.webp);
            background-repeat: no-repeat;
            background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-position: center;
                -webkit-background-position: center;
                -moz-background-position: center;
                -o-background-position: center;
        }
    
        .contenedor-banner{
            width: 100%;
            height:2.5rem;
            z-index: 10;

            @media only screen and (max-width:525px) {
                height:2.5rem;
            }
    
            .banner{
                position: fixed;
                width: 100%;
                z-index: 10;
                height:2.5rem ;
                background: #C2CD4D;

                @media only screen and (max-width:525px) {
                    height:2.5rem;
                }
            }  

            .home{
                position: fixed;
                top: 4px;
                left: 15px;
                z-index: 10;
                width: 40px;
    
                @media only screen and (max-width:525px) {
                    width: 30px;
                    top: 8px;
                }
            }
    
            .logo{
                position: fixed;
                $left:calc(100vw - 5rem);
                left: $left;
                z-index: 10;
                top: -6px;
                width: 65px;
                display: none;
    
                @media only screen and (max-width:525px) {
                    width: 40px;
                    top: 0px;
                    $left:calc(100vw - 3.5rem);
                    left: $left;
                }
            }
        }
    
        .cta{
            margin: 10rem 0 2rem 0;
            text-align: center;
            
            /*Mobile*/
            @media only screen and (min-width:361px) and (max-width:425px) {
                margin: 2rem 0 1rem 0;
            }

            /*Mobile2*/
            @media only screen and (max-width:360px) {
                margin: 2.5rem 0 1rem 0;
            }
    
    
            h1{  
                font-family: 'Permanent Marker';
                font-size: 2.875rem;
                text-transform: uppercase;
                color: #C2CD4D;
                -webkit-text-stroke-color: #C2CD4D;
                -webkit-text-stroke-width: 1px;

                padding: 0 0.25rem;
    
                @media only screen and (max-width:425px) {
                    font-size: 2rem;
                    line-height: 2.5rem;
                }

                span{
                    font-family: 'Permanent Marker';
                    font-size: 2.875rem;
                    text-transform: uppercase;
                    color: #DFE1C8;
                    -webkit-text-stroke-color: #C2CD4D;
                    -webkit-text-stroke-width: 1px;

                    padding: 0 0.25rem;    

                    @media only screen and (max-width:425px) {
                        font-size: 2rem;
                        line-height: 2.5rem;
                    }
                }
            }
        
            p{
                font-family: 'Stick No Bills';  
                font-weight: 500;
                font-size: 1.625rem;
                line-height: 2rem;
                color: #FFF3F3;
                margin-top: 4rem;
                -webkit-text-stroke-color: black;
                -webkit-text-stroke-width: 1px;

                padding: 0 0.25rem;
    
                @media only screen and (max-width:425px) {
                    font-size: 1.5rem;
                    margin-top: 2rem;
                }
            }
        }
    
        .contenedor-caminos{
            animation: pulse 2s infinite;
    
                @keyframes pulse {
                    0% {
                        transform: scale(0.95);
                    }
                
                    70% {
                        transform: scale(1);
                    }
                
                    100% {
                        transform: scale(0.95);
                    }
                }
    
                &:hover{
                    animation: none;
                }

            .contenedor-imagenes{
                width: 100%;
                display: flex;
                justify-content: space-evenly;

        
                /*Desktop 1440*/
                @media only screen and (min-width:1025px) and (max-width: 1440px){
                }
    
                /*Tablet*/
                @media only screen and (min-width:426px) and (max-width: 800px){
                    flex-direction: column;
                }
        
                /*Mobile*/
                @media only screen and (max-width: 425px)  {
                    flex-direction: column;
                }
    
                .grupos-imagenes{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                   
    
                    /*Tablet*/
                    @media only screen and (min-width:426px) and (max-width: 800px){
                        margin-bottom: 1rem;
                    }
    
                    /*Mobile*/
                    @media only screen and (max-width: 425px)  {
                        margin-bottom: 1rem;
                    }
    
                    img{
                        width: 45%;
    
                        &:hover{
                            background: linear-gradient(180deg, #777473 0%, rgba(108, 114, 91, 0.4) 100%);
                            border: 8px solid #D0B160;
                            border-radius: 14px;
                        }
            
                        /*Tablet*/
                        @media only screen and (min-width:426px) and (max-width: 800px)  {  
                            &:active{
                                background: linear-gradient(180deg, #777473 0%, rgba(108, 114, 91, 0.4) 100%);
                                border: 8px solid #D0B160;
                                border-radius: 14px;
                            }
                        }
            
                        /*Mobile*/
                        @media only screen and (max-width: 425px)  {
                            &:active{
                                background: linear-gradient(180deg, #777473 0%, rgba(108, 114, 91, 0.4) 100%);
                                border: 8px solid #D0B160;
                                border-radius: 14px;
                            }
                        }
                    }
                }
    
                .grupo-1{
    
                    /*Tablet & Mobile*/
                    @media only screen and (max-width: 800px){
    
                    }
                }
    
                .grupo-2{
          
                    /*Tablet & Mobile*/
                    @media only screen and (max-width: 800px){
    
                    }
                }
            }
    
            .contenedor-jugador{
                margin-top: 2rem;
                text-align: center;

                /*Tablet*/
                @media only screen and (max-width: 800px) {  
                    margin-top: 0rem;
                }

                img{
                    width: 25%;

                    /*Tablet*/
                    @media only screen and (max-width: 800px) {  
                        width: 50%;
                    }


                    &:hover{
                        background: linear-gradient(180deg, #777473 0%, rgba(108, 114, 91, 0.4) 100%);
                        border: 8px solid #D0B160;
                        border-radius: 14px;
                    }
                }     
            }
        }
    }
    
    section{
        min-height:100vh;
        scroll-margin: 2.5rem;
        display:flex;
        flex-direction: column;
        position: relative;
        
    
        /*Mobile & Tablet*/
        @media only screen and (min-width:366px)and (max-width: 800px)  {      
        }

        /*Mobile*/
        @media only screen and (min-width:366px) and (max-width:525px) {
            scroll-margin: 2.5rem;
        } 

        /*Mobile2*/
        @media only screen and (max-width:365px) {
            scroll-margin: 2.5rem;
        } 

        h3{
            font-family: 'Stick No Bills', sans-serif;
            font-size: 1.5rem;
            text-align: center;
            color:#FFFF;
            text-transform: uppercase;
    
            border: 3px solid #be9324;
           
            width: 70%;
            padding: 0.5rem 0;
            margin: 1rem auto 0 auto;
            position: relative;
            z-index: 2;

            &:before {
                content: "";
                background: linear-gradient(
                  45deg,
                  #be9324,
                  #fffb00,
                  #FFFF,
                );
                position: absolute;
                top: -2px;
                left: -2px;
                background-size: 400%;
                z-index: -1;
                filter: blur(5px);
                -webkit-filter: blur(5px);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                animation: glowing 20s linear infinite;
                transition: opactiy 0.3s ease-in-out;
            }
              
            @keyframes glowing {
                0% {
                  background-position: 0 0;
                }

                50% {
                    background-position: 400% 0;
                }

                100% {
                  background-position: 0 0;
                }   
            } 
              
            &:after {
                z-index: -1;
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, #4F6238 0%, #464D43 100%);
                left: 0;
                top: 0;
            }  
    
            /*Tablet*/
             @media only screen and (min-width:426px) and (max-width: 800px)  {
                font-size:0.9rem; 
                height: 2rem;
                padding: 0; 
                line-height: 1.5rem;
            }
            
            /*Mobile*/
            @media only screen and (max-width: 425px)  {
                font-size:0.75rem; 
                padding: 0; 
                line-height: 1.5rem;
            }
        }  

        .subtitulo-selecciones{ 
            &:after {
                background: linear-gradient(180deg, #555156 0%, #380C52 100%);
            }  
        } 
    
        .subtitulo-estilos{ 
            &:after {
                background: linear-gradient(180deg, #811111 0%, rgba(59,60,58,0.9) 100%);
            }  
        } 

        .subtitulo-marcas{ 
            &:after {
                background: linear-gradient(180deg, #606A6F 0%, rgba(58, 60, 57, 0.9) 100%);
            }  
        } 

        .scrollDown{
            width: 50px;
            position: absolute;
            top: 300px;
            right: 5%;
            display: none;

            p{
                text-align: center;
                font-size: 12px;
                color: #ffff;
            }

            .ball{
                width: 100%;
                
            }

            /*Tablet & Mmobile*/
            @media only screen and (max-width:1260px) {
                display: none;
            }

        }
        
    }
    
    .seccion-busqueda-selecciones{
        background-image: url(../../Multimedia/seccionSelecciones-bg.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .titulo-selector-grupos{
            font-weight: 600;
            font-size: 1.5rem;
            text-align: center;
            color: #a98323;
    
            width: 22.875rem;
            height: 2.375rem;
            background: rgba(255,254,254, 1);
            border:1px solid #be9324;
            border-radius: 30px;
    
            padding-top: 0.25rem;
            margin: 0 auto;
            position: relative;
            bottom: 110px;
            z-index:4;

            /*Desktop 1024*/
            @media only screen and (min-width:801px) and (max-width: 1024px){
                bottom: 240px;
            }

            /*Tablet*/
            @media only screen and (min-width:526px) and (max-width: 800px)  {
                bottom: 150px;
                font-size: 1rem;
                width: 15rem;
                line-height: 1.5rem;
            }

            /*Mobile*/
            @media only screen and (min-width:361px) and (max-width: 525px)  {
                bottom: 210px;
                font-size: 0.75rem;
                width: 10rem;
                height: 1.5rem;
                line-height: 1rem;
            }

            /*Mobile2*/
            @media only screen and (max-width: 360px)  {
                bottom: 195px;
                font-size: 0.75rem;
                width: 10rem;
                height: 1.5rem;
                line-height: 1rem;
            }
    
        }
    }
    
    .seccion-busqueda-estilos{
        background-image: url(../../Multimedia/seccionEstilos-bg.webp);
        background-size: cover;
        background-position:bottom;
        background-repeat: no-repeat;  

        /*Tablet & Mobile*/
        @media only screen and (max-width:800px) {
            background-image: url(../../Multimedia/seccionEstilos-bg-mobile.webp);
            background-size: cover;
            background-position:bottom;
            background-repeat: no-repeat;  
        }
    }
    
    .seccion-busqueda-posiciones{
        background-image: url(../../Multimedia/seccionPosiciones-bg.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .seccion-busqueda-marca{
        background-image: url(../../Multimedia/seccionMarcas-bg.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
    }
}

