.home{
    padding: 0;

    header{
        background-image: url(../../Multimedia/header-bg-1920x1080.jpg);
        background-repeat: no-repeat;
        background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        background-position: center;
            -webkit-background-position: center;
            -moz-background-position: center;
            -o-background-position: center;
        min-height: 100vh;  
        
        /*Tablet & Mobile*/
        @media only screen and (max-width:800px) {
            background-image: url(../../Multimedia/header-bg-mobile.jpg);
            background-repeat: no-repeat;
            background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
            background-position: center;
                -webkit-background-position: center;
                -moz-background-position: center;
                -o-background-position: center;
        }
    
        .contenedor-banner{
            width: 100%;
            height:3.5rem;
            z-index: 10;

            @media only screen and (max-width:525px) {
                height:2.5rem;
            }
    
            .banner{
                position: fixed;
                width: 100%;
                z-index: 10;
                height:3.5rem ;
                background: #C2CD4D;

                @media only screen and (max-width:525px) {
                    height:2.5rem;
                }
            }  
    
            .logo{
                position: fixed;
                $left:calc(100vw - 5rem);
                left: $left;
                z-index: 10;
                top: -5px;
                width: 65px;
    
                @media only screen and (max-width:525px) {
                    width: 40px;
                    top: 0px;
                    $left:calc(100vw - 3.5rem);
                    left: $left;
                }
            }
        }
    
        .cta{
            margin: 10rem 0 5rem 0;
            text-align: center;
            
            /*Mobile*/
            @media only screen and (min-width:361px) and (max-width:425px) {
                margin: 2rem 0 2.5rem 0;
            }

            /*Mobile2*/
            @media only screen and (max-width:360px) {
                margin: 2.5rem 0 2.5rem 0;
            }
    
    
            h1{  
                font-family: 'Permanent Marker';
                font-size: 2.875rem;
                text-transform: uppercase;
                color: #C2CD4D;
                -webkit-text-stroke-color: #666161;
                -webkit-text-stroke-width: 1px;

                padding: 0 0.25rem;
    
                @media only screen and (max-width:425px) {
                    font-size: 2rem;
                    line-height: 3.25rem;
                }
            }
        
            p{
                font-weight: 500;
                font-size: 1.625rem;
                line-height: 2rem;
                color: #FFF3F3;
                margin-top: 2rem;
                -webkit-text-stroke-color: black;
                -webkit-text-stroke-width: 1px;

                padding: 0 0.25rem;
    
                @media only screen and (max-width:425px) {
                    font-size: 1.5rem;
                }
            }
        }
    
        .contenedor-imagenes{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
    
            /*Desktop 1440*/
            @media only screen and (min-width:1025px) and (max-width: 1440px){
            }

            /*Tablet*/
            @media only screen and (min-width:426px) and (max-width: 800px){
                flex-direction: column;
            }
    
            /*Mobile*/
            @media only screen and (max-width: 425px)  {
                flex-direction: column;
            }

            .grupos-imagenes{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                /*Tablet*/
                @media only screen and (min-width:426px) and (max-width: 800px){
                    margin-bottom: 2rem;
                }

                /*Mobile*/
                @media only screen and (max-width: 425px)  {
                    margin-bottom: 2rem;
                }

                img{
                    width: 45%;
        
                    /*Tablet*/
                    @media only screen and (min-width:426px) and (max-width: 800px)  {
                        
                    }
        
                    /*Mobile*/
                    @media only screen and (max-width: 425px)  {
                       
                    }
                }
            }

            .grupo-1{
                /*Tablet & Mobile*/
                @media only screen and (max-width: 800px){

                }
            }

            .grupo-2{
                /*Tablet & Mobile*/
                @media only screen and (max-width: 800px){

                }
            }
        }
    }
    
    section{
        min-height:100vh;
        scroll-margin: 3.5rem;
        display:flex;
        flex-direction: column;
    
        /*Mobile & Tablet*/
        @media only screen and (min-width:366px)and (max-width: 800px)  {      
        }

        /*Mobile*/
        @media only screen and (min-width:366px) and (max-width:525px) {
            scroll-margin: 2.5rem;
        } 

        /*Mobile2*/
        @media only screen and (max-width:365px) {
            scroll-margin: 2.5rem;
        } 

        h3{
            font-family: 'Stick No Bills', sans-serif;
            font-size: 1.5rem;
            text-align: center;
            color:#FFFF;
            text-transform: uppercase;
    
            border: 3px solid #be9324;
           
            width: 70%;
            padding: 0.5rem 0;
            margin: 1rem auto 0 auto;
            position: relative;
            z-index: 2;

            &:before {
                content: "";
                background: linear-gradient(
                  45deg,
                  #be9324,
                  #fffb00,
                  #FFFF,
                );
                position: absolute;
                top: -2px;
                left: -2px;
                background-size: 400%;
                z-index: -1;
                filter: blur(5px);
                -webkit-filter: blur(5px);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                animation: glowing 20s linear infinite;
                transition: opactiy 0.3s ease-in-out;
            }
              
            @keyframes glowing {
                0% {
                  background-position: 0 0;
                }

                50% {
                    background-position: 400% 0;
                  }


                100% {
                  background-position: 0 0;
                }   
            } 
              
            &:after {
                z-index: -1;
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, #4F6238 0%, #464D43 100%);
                left: 0;
                top: 0;
            }  
    
            /*Tablet*/
             @media only screen and (min-width:426px) and (max-width: 800px)  {
                font-size:0.9rem; 
                height: 2rem;
                padding: 0; 
                line-height: 1.5rem;
            }
            
            /*Mobile*/
            @media only screen and (max-width: 425px)  {
                font-size:0.75rem; 
                padding: 0; 
                line-height: 1.5rem;
            }
        }  
    
        .subtitulo-estilos{

              
            &:after {
                background: linear-gradient(180deg, #811111 0%, rgba(59,60,58,0.9) 100%);
            }  
    
        } 
    }
    
    .seccion-busqueda-selecciones{
        background-image: url(../../Multimedia/seccionSelecciones-bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .titulo-selector-grupos{
            font-weight: 600;
            font-size: 1.5rem;
            text-align: center;
            color: #a98323;
    
            width: 22.875rem;
            height: 2.375rem;
            background: rgba(255,254,254, 1);
            border:1px solid #be9324;
            border-radius: 30px;
    
            padding-top: 0.25rem;
            margin: 0 auto;
            position: relative;
            bottom: 110px;
            z-index:4;

            /*Desktop 1024*/
            @media only screen and (min-width:801px) and (max-width: 1024px){
                bottom: 240px;
            }

            /*Tablet*/
            @media only screen and (min-width:526px) and (max-width: 800px)  {
                bottom: 150px;
                font-size: 1rem;
                width: 15rem;
                line-height: 1.5rem;
            }

            /*Mobile*/
            @media only screen and (min-width:361px) and (max-width: 525px)  {
                bottom: 210px;
                font-size: 0.75rem;
                width: 10rem;
                height: 1.5rem;
                line-height: 1rem;
            }

            /*Mobile2*/
            @media only screen and (max-width: 360px)  {
                bottom: 195px;
                font-size: 0.75rem;
                width: 10rem;
                height: 1.5rem;
                line-height: 1rem;
            }
    
        }
    }
    
    .seccion-busqueda-estilos{
        background-image: url(../../Multimedia/seccionEstilos-bg.png);
        background-size: cover;
        background-position:bottom;
        background-repeat: no-repeat;
      
    }
    
    .seccion-busqueda-posiciones{
        background-image: url(../../Multimedia/seccionPosiciones-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .seccion-busqueda-jugador{
        background-image: url(../../Multimedia/plp-bg.png);
        background-size: cover;
        background-position:bottom;
        background-repeat: no-repeat;

        .box-búsqueda{
           text-align: center;
           margin-top: 5rem;
           display: flex;
           flex-direction: column;

            label{
                color: #FFF3F3;
                font-size: 1.75rem;

                /*Tablet & Mobile*/
                @media only screen and (max-width: 800px)  {
                    font-size: 1rem;
                }
            }

            a{
                text-decoration: none;
                margin-top: 1rem;
    
                button{
                    font-size: 1.25rem;
                    background-color: #a98323;
                    color: #FFF3F3;
                    padding: 0.5rem;
                    border-radius: 5px;
                    border:transparent;
                    animation: pulse 2s infinite;

                    @keyframes pulse {
                        0% {
                            transform: scale(0.95);
                        }
                    
                        70% {
                            transform: scale(1);
                        }
                    
                        100% {
                            transform: scale(0.95);
                        }
                    }

                    /*Tablet & mobile*/
                    @media only screen and (max-width: 800px)  {
                        font-size: 1rem;
                    }
                }
            }
        }
        
        
    }

}

