#carouselGrupos{

    height: 620px;

    .fondo-blur{
        
        width: 95%;
        height: 42rem;
        position: relative;
        bottom: 26.25rem;
        margin: 0 auto;
        background: rgba(115, 113, 113, 0.5);
        opacity: 0.6;
    }
    
    .carousel-indicators{
        width: 62.5rem;
        height: 8.25rem;
        background: linear-gradient(180deg, rgba(92,88,88,0.48)0%, rgba(217,217,217,0.24)100%);
        background-image: url(../../Multimedia/carousel-bg.png);
        border: 3px solid #be9324;
                    
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        position: absolute;
        top:400px;
    
        margin:0 auto;
        padding-bottom: 20px;
    
    
        button{
            width: 65px !important;
            height: 65px !important;
            border-top: none !important;
            border-bottom: none !important;
            opacity: 1 !important;
    
            background: #464546;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
            border-radius: 100% ;
            
            color: #ffff ;
            text-indent: 0 !important;
            text-align: center;
            font-weight: 600;
            font-size: 1.875rem;
            line-height: 2.75rem;
        
        }
    
        .active{   
            background: #BE9324 !important;
        }
    }
    
    .carousel-inner{
        margin-top: 2rem;
        z-index: 2;
    
        .carousel-item{
            align-items: center;
             
             .contenedor-cards-selecciones{
                display: flex;
                justify-content: space-evenly;
                
                margin: 0 auto;
                align-items: center;
    
                a{
                    text-decoration: none;
                }
            }
         
        }
    }
    
}


