#carouselGrupos{

    height: 620px;

    .fondo-blur{
        
        width: 95%;
        height: 42rem;
        position: relative;
        bottom: 26.25rem;
        margin: 0 auto;
        background: rgba(115, 113, 113, 0.5);
        opacity: 0.6;

        /*Desktop 1024*/
        @media only screen and (min-width:769px) and (max-width: 1024px){
            bottom: 21rem;
            height: 35rem;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 768px)  {
            bottom: 26rem;
            height: 34rem;
        }

        /*Mobile*/
        @media only screen and (max-width: 525px)  {
            bottom: 26rem;
            height: 33rem;
        }
    }
    
    .carousel-indicators{
        width: 62.5rem;
        height: 8.25rem;
        background: linear-gradient(180deg, rgba(92,88,88,0.48)0%, rgba(217,217,217,0.24)100%);
        background-image: url(../../Multimedia/carousel-bg.png);
        border: 3px solid #be9324;
                    
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        position: absolute;
        top:400px;
    
        margin:0 auto;
        padding-bottom: 20px;

        /*Desktop 1024*/
        @media only screen and (min-width:801px) and (max-width: 1024px){
            width:46.875rem;
            height: 6.1875rem;
            top:300px;
            padding-bottom: 10px;
        }

        /*Tablet*/
        @media only screen and (min-width:526px) and (max-width: 800px)  {
            width:31.25rem;
            height: 5rem;
            top:400px;
            padding-bottom: 0.5rem;
            justify-content: center;
        }

        /*Mobile*/
        @media only screen and (min-width:361px) and (max-width: 525px)  {
            width:19rem;
            height: 3rem;
            top:365px;
            padding:1rem;
            justify-content: center;
        }

        /*Mobile2*/
        @media only screen and (max-width: 360px)  {
            width:19rem;
            height: 3rem;
            top:380px;
            padding:1rem;
            justify-content: center;
        }
    
    
        button{
            width: 65px !important;
            height: 65px !important;
            border-top: none !important;
            border-bottom: none !important;
            opacity: 1 !important;
    
            background: #464546;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
            border-radius: 100% ;
            
            color: #ffff ;
            text-indent: 0 !important;
            text-align: center;
            font-weight: 600;
            font-size: 1.875rem;
            line-height: 2.75rem;

            /*Desktop 1024*/
            @media only screen and (min-width:801px) and (max-width: 1024px){
                width:52px !important;
                height: 52px !important;
                font-size: 1.5rem;
                line-height: 0;
                margin: auto 0;
            }

            /*Tablet*/
            @media only screen and (min-width:526px) and (max-width: 800px)  {
                width:48.75px !important;
                height: 48.75px !important;
                font-size: 1rem;
                line-height: 0;
                margin: 0 0.5rem;
            }

            /*Mobile*/
            @media only screen and (max-width: 525px)  {
                width:30px !important;
                height: 30px !important;
                font-size: 0.8rem;
                line-height: 0;
                padding: 0 0.65rem;
            }
        
        }
    
        .active{   
            background: #BE9324 !important;
        }
    }
    
    .carousel-inner{
        margin-top: 2rem;
        z-index: 2;

        /*Tablet & Mobile*/
        @media only screen and (max-width: 800px)  {
            margin-top: 1rem;
        }
    
        .carousel-item{
            align-items: center;
             
             .contenedor-cards-selecciones{
                display: flex;
                justify-content: center;

                /*Tablet & Mobile*/
                @media only screen and (max-width: 800px)  {
                    flex-direction: column;
                }
                
                margin: 0 auto;
                align-items: center;
    
                a{
                    text-decoration: none;
                }
            }
         
        }
    }
    
}


