.carousel-indicators{
    width: 62.5rem;
    height: 8.25rem;
    background: linear-gradient(180deg, rgba(92,88,88,0.48)0%, rgba(217,217,217,0.24)100%);
    border: 3px solid #be9324;
                
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top:400px;

    margin:0 auto;

   

    button{
        width: 65px !important;
        height: 65px !important;

        border-radius: 50% ;
        border-color: transparent !important;

        background: linear-gradient(180deg, #D0CFD0 0%, rgba(208,207,208,0.59)100%) !important;
        
        color: black ;
        text-indent: 0 !important;
        text-align: center;
        font-weight: 600;
        font-size: 1.875rem;
        line-height: 2.75rem;
    }

    .active{   
        background: linear-gradient(180deg, rgba(238,200,101,0.85)0%, rgba(201,147,10,0.7565)100%) !important;
    
    }
}

.carousel-inner{
    margin-top: 2rem;

    .carousel-item{
        align-items: center;
         
         .contenedor-cards-selecciones{
            display: flex;
            justify-content: space-evenly;
            
            margin: 0 auto;
            align-items: center;

            a{
                text-decoration: none;
            }
        }
     
    }
}



